/*utils*/ /*Global page settings begins*/
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.is-open .body-no-scroll {
  height: 100vh;
  width: 100vw;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.section-no-padding {
  padding: 0;
}

.section-no-top-padding {
  padding: 0;
  padding-bottom: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/*list - turn of bullets*/
.list {
  list-style: none;
}

nav a,
footer a {
  text-decoration: none;
}

/*Portfolio Benefits*/
.benefits {
  padding-left: 0;
  gap: 24px;
}

.benefit-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--secondary-background-color);
  height: 112px;
  margin-bottom: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*What we are doing*/
.our-services {
  text-align: center;
}

/*Studio page ends*/
/*Portfolio page begins*/
.heading-third-level {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/*Portfolio Navigation*/
.portfolio-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  margin-bottom: 48px;
}

/*Portfolio works*/
.portfolio-items {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 48px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.portfolio-items h2 {
  margin-bottom: 8px;
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-image-overlay::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element-link:hover .portfolio-image-overlay::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-image-text-over {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-background-color);
  letter-spacing: 0.02em;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element-link:hover .portfolio-image-text-over {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-description {
  padding: 32px 16px;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

/*General Responsive styles*/
@media screen and (max-width: 479px) {
  .container {
    max-width: 479px;
  }
  .section {
    padding: 96px 0 96px 0;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  .section {
    padding: 96px 0 96px 0;
  }
  .section-smaller-top {
    padding: 48px 0 96px 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    padding: 96px 0 96px 0;
  }
  .section-smaller-top {
    padding: 64px 0 96px 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .section {
    padding: 120px 0 120px 0;
  }
  .section-smaller-top {
    padding: 96px 0 96px 0;
  }
  /*General Responsive styles ends*/
}
.section-no-padding {
  padding: 0;
}

.section-no-top-padding {
  padding: 0;
  padding-bottom: 120px;
}

:root {
  /*Text Colors*/
  --accent-color: #4d5ae5;
  --accent-clicked-butoon: #404bbf;
  --title-text-color: #2e2f42;
  --primary-text-color: #434455;
  /*Background colors*/
  --primary-background-color: #fff;
  --secondary-background-color: #f4f4fd;
  --dark-background-color: #2e2f42;
}

.heading-second-level {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 72px;
}

.heading-third-level {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  margin-bottom: 8px;
}

.paragraph {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/*Components*/
/*Mobile menu button - Hamburger*/
.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border: none;
  stroke: var(--title-text-color);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/*General Buttons*/
.button, .button--modal, .button-light {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.04em;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
  border: none;
  padding: 16px 32px 16px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*Button for modal window*/
}
.button:hover, .button--modal:hover, .button-light:hover, .button:focus, .button--modal:focus, .button-light:focus {
  background-color: var(--accent-clicked-butoon);
}
.button-light {
  line-height: 1.5;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  border-radius: 4px;
  margin-right: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-light:last-child {
  margin-right: 0;
}
.button-light:hover, .button-light:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button--modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-bottom: 24px;
}
.button--modal:hover, .button--modal:focus {
  border: none;
  background-color: var(--accent-color);
}
.button--modal:hover .button__element {
  fill: var(--primary-background-color);
}
.button__element {
  fill: rgb(0, 0, 0);
}

/*Header*/
.header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  /*Header - main navigation*/
  /*Contacts*/
}
.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  gap: 40px;
}
.header__main-navigation-item {
  display: block;
}
.header__main-navigation {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__main-navigation-item {
  position: relative;
}
.header__main-navigation-item--active {
  color: var(--accent-color);
}
.header__main-navigation-item--active::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.header__main-navigation-link:hover, .header__main-navigation-link:focus {
  color: var(--accent-color);
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__contacts-link {
  font-family: inherit;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-left: 40px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--accent-color);
}

/*Mobile Menu BEM*/
.menu-container {
  position: absolute;
  overflow-y: scroll;
}

.mobile-menu-container {
  position: fixed;
}

.menu-button .icon-cross {
  display: block;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

/*Mobile menu no BEM*/
/*Mobile menu hover style*/
.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-background-color);
  width: 100vw;
  height: 100vh;
}

.menu-container-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding: 40px;
}

.menu-button {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 24px;
  right: 16px;
}

.menu-container.is-open {
  display: block;
  position: fixed;
  z-index: 1;
}

.menu-container-items {
  padding-left: 0;
  margin-top: 40px;
}

.menu-container-pages {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.menu-container-pages:hover,
.menu-container-pages:focus {
  color: var(--accent-color);
}

.menu-container-phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.33;
  color: var(--accent-color);
}

.menu-container-email {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-top: 40px;
}

.menu-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  padding-left: 0;
  margin-top: 48px;
}

@media screen and (max-width: 479px) {
  .header__main-navigation {
    display: none;
  }
  .header__contacts {
    display: none;
  }
  .menu__contacts {
    display: none;
  }
}
/*Background for modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .backdrop {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

/*Modal window*/
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__wrap {
  padding: 24px;
}
.modal__text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 16px;
}
.modal__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto" sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
.modal__form-label > textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 16px;
}
.modal__input-comment::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment:focus::-webkit-input-placeholder {
  color: transparent;
}
.modal__input-comment:focus::-moz-placeholder {
  color: transparent;
}
.modal__input-comment:focus:-ms-input-placeholder {
  color: transparent;
}
.modal__input-comment:focus::-ms-input-placeholder {
  color: transparent;
}
.modal__input-comment:focus::placeholder {
  color: transparent;
}
.modal__input-name > input, .modal__input-phone > input, .modal__input-email > input {
  height: 40px;
  width: 360px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 4px;
  padding-left: 34px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-label > textarea {
  padding: 8px 16px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-label {
  position: relative;
}
.modal__input-name-icon {
  position: absolute;
  top: 55%;
  left: 26px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-phone-icon {
  position: absolute;
  top: 58%;
  left: 26px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-email {
  position: absolute;
  top: 58%;
  left: 26px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-name input:focus, .modal__input-phone input:focus, .modal__input-email input:focus, .modal__form-label textarea:focus {
  border: 1px solid var(--accent-color);
}
.modal__input-name:focus-within + svg, .modal__input-phone:focus-within + svg, .modal__input-email:focus-within + svg {
  fill: var(--accent-color);
}
.modal__input-comment {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal .checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}
.modal__input-comment:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service-label-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 360px;
  font-family: "Roboto" sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-label-row > input {
  margin-right: 8px;
}

.btn-modal {
  display: block;
  width: 170px;
  margin: 0 auto;
  margin-top: 40px;
}

.privacy-policy-link {
  color: var(--accent-clicked-butoon);
  padding-left: 4px;
  cursor: pointer;
  text-decoration: underline;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-background-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/hero-bcg-mobile.jpeg);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-mobile.jpeg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 479px), screen and (min-resolution: 192dpi) and (max-width: 479px), screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/hero-bcg-mobile@2x.jpeg);
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-mobile@2x.jpeg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/hero-bcg-mobile@2x.jpeg);
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-mobile@2x.jpeg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/hero-bcg-tablet@2x.jpeg);
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-tablet@2x.jpeg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/people-office@2x.jpg);
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
  }
}
/*Responsive view*/
@media screen and (max-width: 479px) {
  .hero {
    padding: 112px 0 112px 0;
  }
  .hero__title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-background-color);
    margin-bottom: 48px;
  }
}
/*What we are doing*/
.benefits {
  padding-left: 0;
}
.benefits__item {
  margin-bottom: 72px;
}
.benefits__item:last-child {
  margin-bottom: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}

/*Responsive view*/
@media screen and (max-width: 479px) {
  .section-no-top-padding {
    display: none;
  }
  .benefits__icon-element {
    display: none;
  }
}
.header__logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 77px;
}
.header__logo--blue {
  color: var(--accent-color);
}

/*Header-Logo*/
.logo-footer {
  color: var(--primary-background-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

footer {
  background-color: var(--dark-background-color);
  color: var(--primary-background-color);
  padding: 100px 0 100px 0;
}

/*Footer*/
footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  margin-top: 16px;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  padding-left: 0;
}

.footer-social-heading {
  margin-top: 0;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
}

.footer-icon-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-illustration {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon-1:hover,
.footer-icon-1:focus {
  background-color: rgb(49, 208, 170);
}

.btn {
  padding: 0;
  margin: 0;
}

.form-btn-submit {
  background-color: var(--accent-color);
  border: none;
  color: var(--primary-background-color);
  padding: 8px 64px 8px 24px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  margin-left: 12px;
}

.footer-form-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  position: relative;
}

.form-btn-submit::before {
  content: "";
  display: block;
  position: absolute;
  top: 70%;
  left: 45%;
  width: 24px;
  height: 20px;
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.input-subscribe::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.input-subscribe::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.input-subscribe:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.input-subscribe::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.input-subscribe::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.input-subscribe:focus,
.input-subscribe {
  color: var(--primary-background-color);
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.input-subscribe:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-subscribe:focus::-moz-placeholder {
  color: transparent;
}

.input-subscribe:focus:-ms-input-placeholder {
  color: transparent;
}

.input-subscribe:focus::-ms-input-placeholder {
  color: transparent;
}

.input-subscribe:focus::placeholder {
  color: transparent;
}

/*Our Team*/
.our-team {
  text-align: center;
  background-color: var(--secondary-background-color);
}

.our-team-member li:last-child {
  margin-right: 0;
}

.our-team-member li:first-child {
  padding-right: 0;
  padding-left: 0;
}

.our-team-list {
  padding-left: 0;
}

.our-team-list .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 12px 16px 36px 16px;
}

.our-team-description {
  padding: 32px 0 12px 0;
}

.our-team-list > h3 {
  font-size: 20px;
  line-height: 1.2;
}

.our-team-list h3 {
  margin-bottom: 8px;
}

.social-icons-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-clicked-butoon);
}

/*Client Logos*/
.customers__logos {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.customers__logos-item:hover, .customers__logos-item:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.customers__logos-element:hover, .customers__logos-element:focus {
  cursor: pointer;
  fill: currentColor;
  color: var(--accent-color);
}
.customers__logos-item:hover .customers__logos-link, .customers__logos-item:focus .customers__logos-link {
  color: var(--accent-color);
  cursor: pointer;
}
.customers__logos-link {
  color: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__logos-element {
  fill: currentColor;
  color: #8e8f99;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Responsive view*/
@media screen and (max-width: 479px) {
  .customers__logos {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */