/*Global Colors-Variables*/
:root {
  --accent-color: #4d5ae5;
  --accent-clicked-butoon: #404bbf;
  --title-text-color: #2e2f42;
  --primary-text-color: #434455;
  --primary-background-color: #fff;
  --secondary-background-color: #f4f4fd;
  --dark-background-color: #2e2f42;
}

/*Global page settings begins*/
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.is-open .body-no-scroll {
  height: 100vh;
  width: 100vw;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/*General Responsive styles*/

@media screen and (max-width: 479px) {
  .container {
    max-width: 479px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }

  .section {
    padding: 96px 0 96px 0;
  }

  .section-smaller-top {
    padding: 48px 0 96px 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .section {
    padding: 96px 0 96px 0;
  }

  .section-smaller-top {
    padding: 64px 0 96px 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .section {
    padding: 120px 0 120px 0;
  }

  .section-smaller-top {
    padding: 96px 0 96px 0;
  }

  /*General Responsive styles ends*/
}

.section-no-padding {
  padding: 0;
}

.section-no-top-padding {
  padding: 0;
  padding-bottom: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/*list - turn of bullets*/
.list {
  list-style: none;
}

footer {
  background-color: var(--dark-background-color);
  color: var(--primary-background-color);
  padding: 100px 0 100px 0;
}
/*Global page settings ends*/

/*Studio page begins*/

/*Mobile menu hover style*/

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-background-color);
  width: 100vw;
  height: 100vh;
  
}



.menu-container-small{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 40px;
}

.menu-button {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 24px;
  right: 16px
}

.menu-container.is-open {
  display: block;
  position: fixed;
  z-index: 1;
}

.menu-container-items {
  padding-left: 0;
  margin-top: 40px;
}

.menu-container-items li:last-child {
  
}

.menu-container-pages {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.menu-container-pages:hover,
.menu-container-pages:focus {
  color: var(--accent-color);
}

.menu-container-phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.33;
  color: var(--accent-color);
}

.menu-container-email {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-top: 40px;
}

.menu-social-icons {
  display: flex;
  gap: 56px;
  padding-left: 0;
  margin-top: 48px;
}

/*Header*/

.header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header__container {
  align-items: center;
  justify-content: space-between;
  
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/*Mobile Menu*/

.menu-container {
  position: absolute;
  overflow-y: scroll;
}

.mobile-menu-container {
  position: fixed;
}

.menu-button .icon-cross {
  display: block;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

/*Buttons*/

.menu-button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  stroke: var(--title-text-color);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.04em;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
  border: none;
  padding: 16px 32px 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-clicked-butoon);
}

.button-light {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  border-radius: 4px;
  margin-right: 24px;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-light:last-child {
  margin-right: 0;
}

.button-light:hover,
.button-light:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Header-Logo*/

.logo-footer {
  color: var(--primary-background-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 77px;
}

nav a,
footer a {
  text-decoration: none;
}

.blue-logo {
  color: var(--accent-color);
}

/*Header - main navigation*/

.main-navigation {
  display: flex;
  padding-left: 0;
  gap: 40px;
}

.main-navigation li {
  display: block;
}

.main-navigation a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigation-link {
  position: relative;
}

.active a {
  color: var(--accent-color);
}

.active a::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--accent-color);
}

/*Benefits*/
.benefits {
  padding-left: 0;
  gap: 24px;
}

.benefit-icons {
  display: flex;
  background-color: var(--secondary-background-color);
  height: 112px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

/*What we are doing*/
.services {
  padding-left: 0;
}

.services li {
  margin-right: 24px;
}

.services li:last-child {
  margin-right: 0;
}

/*Contacts*/

.contacts {
  display: flex;
}

.contacts > a {
  font-family: inherit;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts > a:hover,
.contacts > a:focus {
  color: var(--accent-color);
}

/*Studio page*/
/*Hero*/

.hero {
  align-items: center;
  padding: 192px 0 192px 0;
  color: var(--primary-background-color);
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bcg-mobile.jpeg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px),
  screen and (min-resolution: 192dpi) and (max-width: 479px),
  screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg-mobile@2x.jpeg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg-mobile@2x.jpeg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg-tablet@2x.jpeg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-background-color);
  margin-bottom: 48px;
}

/*What we are doing*/
.heading-second-level {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 72px;
}

.our-services {
  text-align: center;
}

/*Our Team*/

.our-team {
  text-align: center;
  background-color: var(--secondary-background-color);
}

.our-team-member li:last-child {
  margin-right: 0;
}

.our-team-member li:first-child {
  padding-right: 0;
  padding-left: 0;
}

.our-team-list {
  padding-left: 0;
}

.our-team-list .social-icons {
  display: flex;
  gap: 24px;
  padding: 12px 16px 36px 16px;
}

.our-team-description {
  padding: 32px 0 12px 0;
}

.our-team-list > h3 {
  font-size: 20px;
  line-height: 1.2;
}

.our-team-list h3 {
  margin-bottom: 8px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-clicked-butoon);
}

/*Footer*/
footer {
  align-items: center;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin-top: 16px;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-left: 0;
}

.footer-social-heading {
  margin-top: 0;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
}

.footer-icon-1 {
  display: flex;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-illustration {
  justify-content: center;
  align-items: center;
}

.footer-icon-1:hover,
.footer-icon-1:focus {
  background-color: rgba(49, 208, 170, 1);
}

.btn {
  padding: 0;
  margin: 0;
}

.form-btn-submit {
  background-color: var(--accent-color);
  border: none;
  color: var(--primary-background-color);
  padding: 8px 64px 8px 24px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  margin-left: 12px;
}

.footer-form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  position: relative;
}

.form-btn-submit::before {
  content: "";
  display: block;
  position: absolute;
  top: 70%;
  left: 45%;
  width: 24px;
  height: 20px;
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.input-subscribe::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.input-subscribe:focus,
.input-subscribe {
  color: var(--primary-background-color);
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.input-subscribe:focus::placeholder {
  color: transparent;
}

/*Client Logos*/
.customers {
  text-align: center;
}

.customer-logo-element:hover,
.customer-logo-element:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.customer-logo-first:hover,
.customer-logo-first:focus {
  cursor: pointer;
  fill: currentColor;
  color: var(--accent-color);
}

.customer-logo-element:hover .customer-logo,
.customer-logo-element:focus .customer-logo {
  color: var(--accent-color);
  cursor: pointer;
}

.customer-logo {
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo-first {
  fill: currentColor;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrap {
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-bottom: 24px;
}

.modal-window-button:hover,
.modal-window-button:focus {
  border: none;
  background-color: var(--accent-color);
}

.modal-window-button:hover .modal-window-cross {
  fill: var(--primary-background-color);
}

.modal-window-cross {
  fill: rgba(0, 0, 0, 1);
}

.order-service-text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.order-service-label {
  display: flex;
  position: relative;
  width: 360px;
  flex-direction: column;
  font-family: "Roboto" sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.order-service-label > textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.service-label-row {
  display: flex;
  position: absolute;
  left: 16px;
  flex-direction: row;
  width: 360px;
  font-family: "Roboto" sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  align-items: center;
}

.service-label-row > input {
  margin-right: 8px;
}

.form-input-comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input-comment:focus::placeholder {
  color: transparent;
}

.btn-modal {
  display: block;
  width: 170px;
  margin: 0 auto;
  margin-top: 40px;
}

.input-name-field > input,
.form-input-phone > input,
.form-input-email > input {
  height: 40px;
  width: 360px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 4px;
  padding-left: 34px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-label > textarea {
  padding: 8px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-label {
  position: relative;
}

.input-name-person {
  position: absolute;
  top: 55%;
  left: 26px;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name-phone {
  position: absolute;
  top: 58%;
  left: 26px;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name-email {
  position: absolute;
  top: 58%;
  left: 26px;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name-field input:focus,
.form-input-phone input:focus,
.form-input-email input:focus,
.order-service-label textarea:focus {
  border: 1px solid var(--accent-color);
}

.input-name-field:focus-within + svg,
.form-input-phone:focus-within + svg,
.form-input-email:focus-within + svg {
  fill: var(--accent-color);
}

.order-service-comment {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.order-service-comment:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.privacy-policy-link {
  color: var(--accent-clicked-butoon);
  padding-left: 4px;
  cursor: pointer;
  text-decoration: underline;
}

/*Studio page ends*/

/*Portfolio page begins*/

.heading-third-level {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/*Portfolio Navigation*/

.portfolio-menu {
  display: inline-flex;
  padding-left: 0;
  margin-bottom: 48px;
}

/*Portfolio works*/
.portfolio-items {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-items h2 {
  margin-bottom: 8px;
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-image-overlay::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element-link:hover .portfolio-image-overlay::before {
  transform: translateY(0%);
}

.portfolio-image-text-over {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-background-color);
  letter-spacing: 0.02em;
  transform: translateY(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element-link:hover .portfolio-image-text-over {
  transform: translateY(0%);
}

.portfolio-description {
  padding: 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

/*Responsive design: Media - up to 479px*/

@media screen and (max-width: 479px) {
  .container {
    max-width: 479px;
  }

  .section {
    padding: 96px 0 96px 0;
  }

  .section-smaller-space {
    padding: 48px 0 96px 0;
  }

  .hero {
    max-width: 479px;
  }

  .section-no-top-padding {
    display: none;
  }

  .main-navigation {
    display: none;
  }

  .contacts {
    display: none;
  }

  .hero-title {
    font-size: 36px;
    line-height: 1.11;
  }

  .benefit-icons {
    display: none;
  }

  .benefits h3 {
    font-size: 36px;
    line-height: 0.9;
    text-align: center;
    margin-bottom: 8px;
  }

  .benefits li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 396px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .benefits li:last-child {
    margin-bottom: 0;
  }

  .our-team {
    display: flex;
  }

  .our-team-member {
    width: 264px;
    background-color: var(--primary-background-color);
    margin-right: 24px;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
      0px 2px 1px rgb(46 47 66 / 8%);
    border-radius: 0px 0px 4px 4px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .customer-logo-element {
    display: inline-block;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 16px 40px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
    justify-content: center;
    padding-left: 0px;
  }
  .our-team-member:last-child {
    margin-bottom: 0;
  }

  .logo-footer {
    display: block;
    margin-bottom: 16px;
    text-align: center;
  }

  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-heading {
    text-align: center;
  }

  .footer-social {
    margin-bottom: 72px;
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .input-subscribe {
    width: 280px;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    margin-bottom: 16px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .form-btn-submit {
    margin-left: 0;
  }

  .form-btn-submit::before {
    top: 78%;
    left: 64%;
  }

  .portfolio-items {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-menu {
    flex-wrap: wrap;
    max-width: 320px;
    gap: 16px;
  }

  .portfolio-card {
    max-width: 100%;
  }

  .portfolio-image {
    max-width: 100%;
  }

  .portfolio-image-text-over {
    line-height: 1.5;
  }

}

/*Responsive design: Media - from 480px*/

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg-mobile.jpeg);

    padding: 96px 0;
  }

  .main-navigation {
    display: none;
  }

  .contacts {
    display: none;
  }

  .section-no-top-padding {
    display: none;
  }

  .hero-title {
    font-size: 36px;
    line-height: 1.11;
  }

  .logo-footer {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
  }

  .our-team-member {
    width: 264px;
    background-color: var(--primary-background-color);
    margin-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .our-team-member:last-child {
    margin-bottom: 0;
  }

  .customers-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
    justify-content: center;
    padding-left: 0px;
  }

  .customer-logo-element {
    display: inline-block;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 16px 40px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-heading {
    text-align: center;
  }

  .footer-social {
    margin-bottom: 72px;
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .input-subscribe {
    padding: 0;
    padding-left: 16px;
    margin: 0;
    margin-bottom: 16px;
    height: 40px;
    width: 396px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .form-btn-submit::before {
    top: 78%;
    left: 64%;
  }

  .benefits li {
    width: 396px;
    padding-left: 0;
    margin: 0 auto;
  }

  .benefits li:last-child {
    margin-bottom: 0;
  }

  .benefit-icons {
    display: none;
  }

  .benefits h3 {
    font-size: 36px;
    line-height: 0.9;
    margin-bottom: 8px;
    text-align: center;
  }

  .benefits li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
  }

  .benefitd li:last-child {
    margin-bottom: 0;
  }

  .portfolio-menu {
    flex-wrap: wrap;
    width: 320px;
    gap: 16px;
  }
}

/*Responsive design: Media - from 768px*/

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg-tablet.jpeg);
  }

  .hero {
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  .menu-button {
    display: none;
  }

  .menu-container.is-open {
    display: none;
  }

  .main-navigation {
    display: flex;
  }

  .header__container {
    display: flex;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .contacts a {
    font-size: 12px;
    line-height: 1.33;
  }

  .active a::after {
    bottom: -125%;
  }

  .benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .benefits li {
    width: 356px;
    padding-left: 0;
    margin: 0 auto;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .our-team-member {
    margin: 0;
  }

  .customers-logos {
    display: flex;
    gap: 24px;
    margin: 0 auto;
  }

  .customer-logo-element {
    padding: 16px 32px;
  }

  .portfolio-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin-bottom: 64px;
  }

  .portfolio-items {
    row-gap: 72px;
  }

  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }

  .footer-about-company {
    width: 264px;
  }

  .input-subscribe {
    padding: 0;
    padding-left: 16px;
    margin: 0;
    height: 40px;
    width: 264px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .footer-wrap {
    padding: 0 93px 0 93px;
  }

  .footer-wrap-row {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    gap: 24px;
  }

  .footer-form-elements {
    display: flex;
    flex-direction: row;
  }

  .footer-form-subscribe {
    margin-right: auto;
  }

  .form-btn-submit {
    margin-left: 24px;
  }

  .form-btn-submit::before {
    top: 48%;
    left: 92%;
  }

  .logo-footer,
  .footer-social-heading {
    text-align: left;
  }
}

/*Responsive design: Media - 1200px*/

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpeg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .active a::after {
    bottom: -100%;
  }

  .contacts {
    flex-direction: row;
  }

  .contacts a {
    font-size: 16px;
    line-height: 1.5;
  }

  .benefits li {
    width: 264px;
    padding-left: 0;
    margin: 0 auto;
  }

  .benefit-icons {
    display: flex;
  }

  .benefits h3 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: left;
  }

  .portfolio-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 24px;
    margin-left: 16px;
  }

  .portfolio-card {
    width: calc((100% - 48px) / 3);
  }

  .footer-wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .footer-wrap-row {
    gap: 120px;
  }

  footer p {
    margin-bottom: 0;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-social {
    margin-bottom: 0;
  }

  .footer-form-subscribe {
    align-self: flex-start;
    margin-right: 0;
    margin-left: 80px;
  }

  .section-no-top-padding {
    display: flex;
  }

  .services {
    display: flex;
  }

  .customers-logos {
    flex-wrap: nowrap;
  }
}
