/*What we are doing*/
.benefits {
  padding-left: 0;

  &__item {
    margin-bottom: 72px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item:last-child {
    margin-right: 0;
  }
}


/*Responsive view*/
@media screen and (max-width: 479px){
  .section-no-top-padding{
    display: none;
  }

  .benefits__icon-element{
    display: none;
  }
}
