
  /*Client Logos*/
  .customers__logos {
    text-align: center;
    display: flex;


  &-item:hover,
  &-item:focus {
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }
  
  &-element:hover,
  &-element:focus {
    cursor: pointer;
    fill: currentColor;
    color: var(--accent-color);
  }
  
  &-item:hover &-link,
  &-item:focus &-link {
    color: var(--accent-color);
    cursor: pointer;
  }
  
  &-link {
    color: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &-element {
    fill: currentColor;
    color: #8e8f99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }
  