/*Our Team*/

.our-team {
  text-align: center;
  background-color: var(--secondary-background-color);

  &__item {
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
      0px 2px 1px rgb(46 47 66 / 8%);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item:first-child {
    padding-right: 0;
    padding-left: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    gap: 72px;
  }

  &__list .social-icons {
    display: flex;
    gap: 24px;
    padding: 12px 16px 36px 16px;
  }

  &__description {
    padding: 32px 0 12px 0;
  }

  &__description-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}
