/*General Responsive styles*/
  
@media screen and (max-width: 479px) {
    .container {
      max-width: 479px;
    }
  }
  
  @media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  
    .section {
      padding: 96px 0 96px 0;
    }
  
    .section-smaller-top {
      padding: 48px 0 96px 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  
    .section {
      padding: 96px 0 96px 0;
    }
  
    .section-smaller-top {
      padding: 64px 0 96px 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
    }
  
    .section {
      padding: 120px 0 120px 0;
    }
  
    .section-smaller-top {
      padding: 96px 0 96px 0;
    }
  
    /*General Responsive styles ends*/
  }



  /*Responsive design: Media - up to 479px*/
  
  @media screen and (max-width: 479px) {
    .container {
      max-width: 479px;
    }
  
    .section {
      padding: 96px 0 96px 0;
    }
  
    .section-smaller-space {
      padding: 48px 0 96px 0;
    }
  
    .hero {
      max-width: 479px;
    }
  
    .section-no-top-padding {
      display: none;
    }

    .header__main-navigation{
      display: none;
    }
  
    .menu__list {
      display: none;
    }
  
    .contacts {
      display: none;
    }
  
    .hero-title {
      font-size: 36px;
      line-height: 1.11;
    }
  
    .benefit-icons {
      display: none;
    }
  
    .benefits h3 {
      font-size: 36px;
      line-height: 0.9;
      text-align: center;
      margin-bottom: 8px;
    }
  
    .benefits li {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      max-width: 396px;
      margin: 0 auto;
      margin-bottom: 72px;
    }
  
    .benefits li:last-child {
      margin-bottom: 0;
    }
  
    .our-team {
      display: flex;
    }
  
    .our-team-member {
      width: 264px;
      background-color: var(--primary-background-color);
      margin-right: 24px;
      box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
        0px 2px 1px rgb(46 47 66 / 8%);
      border-radius: 0px 0px 4px 4px;
      margin: 0 auto;
      margin-bottom: 72px;
    }
  
    .customer-logo-element {
      display: inline-block;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      padding: 16px 40px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .customers-logos {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      row-gap: 72px;
      justify-content: center;
      padding-left: 0px;
    }
    .our-team-member:last-child {
      margin-bottom: 0;
    }
  
    .logo-footer {
      display: block;
      margin-bottom: 16px;
      text-align: center;
    }
  
    .footer-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-social-heading {
      text-align: center;
    }
  
    .footer-social {
      margin-bottom: 72px;
    }
  
    .footer-text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      width: 264px;
      margin: 0 auto;
      margin-bottom: 72px;
    }
  
    .input-subscribe {
      width: 280px;
      padding: 0;
      padding-left: 16px;
      margin: 0;
      margin-bottom: 16px;
      height: 40px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
    }
  
    .form-btn-submit {
      margin-left: 0;
    }
  
    .form-btn-submit::before {
      top: 78%;
      left: 64%;
    }
  
    .portfolio-items {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 48px;
      column-gap: 24px;
    }
  
    .portfolio-menu {
      flex-wrap: wrap;
      max-width: 320px;
      gap: 16px;
    }
  
    .portfolio-card {
      max-width: 100%;
    }
  
    .portfolio-image {
      max-width: 100%;
    }
  
    .portfolio-image-text-over {
      line-height: 1.5;
    }
  
  }
  
  /*Responsive design: Media - from 480px*/
  
  @media screen and (min-width: 480px) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bcg-mobile.jpeg);
  
      padding: 96px 0;
    }
  
    .main-navigation {
      display: none;
    }
  
    .contacts {
      display: none;
    }
  
    .section-no-top-padding {
      display: none;
    }
  
    .hero-title {
      font-size: 36px;
      line-height: 1.11;
    }
  
    .logo-footer {
      display: block;
      margin: 0 auto;
      margin-bottom: 16px;
      text-align: center;
    }
  
    .our-team-member {
      width: 264px;
      background-color: var(--primary-background-color);
      margin-right: 24px;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      border-radius: 0px 0px 4px 4px;
      margin: 0 auto;
      margin-bottom: 72px;
    }
  
    .our-team-member:last-child {
      margin-bottom: 0;
    }
  
    .customers-logos {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      row-gap: 72px;
      justify-content: center;
      padding-left: 0px;
    }
  
    .customer-logo-element {
      display: inline-block;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      padding: 16px 40px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .footer-social-heading {
      text-align: center;
    }
  
    .footer-social {
      margin-bottom: 72px;
    }
  
    .footer-text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      width: 264px;
      margin: 0 auto;
      margin-bottom: 72px;
    }
  
    .input-subscribe {
      padding: 0;
      padding-left: 16px;
      margin: 0;
      margin-bottom: 16px;
      height: 40px;
      width: 396px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
    }
  
    .form-btn-submit::before {
      top: 78%;
      left: 64%;
    }
  
    .benefits li {
      width: 396px;
      padding-left: 0;
      margin: 0 auto;
    }
  
    .benefits li:last-child {
      margin-bottom: 0;
    }
  
    .benefit-icons {
      display: none;
    }
  
    .benefits h3 {
      font-size: 36px;
      line-height: 0.9;
      margin-bottom: 8px;
      text-align: center;
    }
  
    .benefits li {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 72px;
      letter-spacing: 0.02em;
    }
  
    .benefitd li:last-child {
      margin-bottom: 0;
    }
  
    .portfolio-menu {
      flex-wrap: wrap;
      width: 320px;
      gap: 16px;
    }
  }
  
  /*Responsive design: Media - from 768px*/
  
  @media screen and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bcg-tablet.jpeg);
    }
  
    .hero {
      padding: 112px 0;
    }
  
    .hero-title {
      font-size: 56px;
      line-height: 1.07;
      margin-bottom: 40px;
    }
  
    .menu-button {
      display: none;
    }
  
    .menu-container.is-open {
      display: none;
    }
  
    .main-navigation {
      display: flex;
    }
  
    .site-navigation {
      display: flex;
    }
  
    .contacts {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  
    .contacts a {
      font-size: 12px;
      line-height: 1.33;
    }
  
    .active a::after {
      bottom: -125%;
    }
  
    .benefits {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  
    .benefits li {
      width: 356px;
      padding-left: 0;
      margin: 0 auto;
    }
  
    .our-team-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 64px;
      justify-content: center;
    }
  
    .our-team-member {
      margin: 0;
    }
  
    .customers-logos {
      display: flex;
      gap: 24px;
      margin: 0 auto;
    }
  
    .customer-logo-element {
      padding: 16px 32px;
    }
  
    .portfolio-menu {
      display: flex;
      justify-content: center;
      gap: 24px;
      width: 100%;
      margin-bottom: 64px;
    }
  
    .portfolio-items {
      row-gap: 72px;
    }
  
    .portfolio-card {
      width: calc((100% - 24px) / 2);
    }
  
    .footer-about-company {
      width: 264px;
    }
  
    .input-subscribe {
      padding: 0;
      padding-left: 16px;
      margin: 0;
      height: 40px;
      width: 264px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
    }
  
    .footer-wrap {
      padding: 0 93px 0 93px;
    }
  
    .footer-wrap-row {
      display: flex;
      flex-direction: row;
      margin-right: auto;
      gap: 24px;
    }
  
    .footer-form-elements {
      display: flex;
      flex-direction: row;
    }
  
    .footer-form-subscribe {
      margin-right: auto;
    }
  
    .form-btn-submit {
      margin-left: 24px;
    }
  
    .form-btn-submit::before {
      top: 48%;
      left: 92%;
    }
  
    .logo-footer,
    .footer-social-heading {
      text-align: left;
    }
  }
  
  /*Responsive design: Media - 1200px*/
  
  @media screen and (min-width: 1200px) {
    .hero {
      padding: 188px 0;
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office.jpeg);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 1600px;
      margin: 0 auto;
    }
  
    .hero-title {
      margin-bottom: 48px;
    }
  
    .active a::after {
      bottom: -100%;
    }
  
    .contacts {
      flex-direction: row;
    }
  
    .contacts a {
      font-size: 16px;
      line-height: 1.5;
    }
  
    .benefits li {
      width: 264px;
      padding-left: 0;
      margin: 0 auto;
    }
  
    .benefit-icons {
      display: flex;
    }
  
    .benefits h3 {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 8px;
      text-align: left;
    }
  
    .portfolio-menu {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 24px;
      margin-left: 16px;
    }
  
    .portfolio-card {
      width: calc((100% - 48px) / 3);
    }
  
    .footer-wrap {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }
  
    .footer-wrap-row {
      gap: 120px;
    }
  
    footer p {
      margin-bottom: 0;
    }
  
    .footer-text {
      margin-bottom: 0;
    }
  
    .footer-social {
      margin-bottom: 0;
    }
  
    .footer-form-subscribe {
      align-self: flex-start;
      margin-right: 0;
      margin-left: 80px;
    }
  
    .section-no-top-padding {
      display: flex;
    }
  
    .services {
      display: flex;
    }
  
    .customers-logos {
      flex-wrap: nowrap;
    }
  }
  